<div>
		<h1>Welcome to Secret Santa</h1>
		<p>The list below shows all current participants. To add a new participant please click the "New Participant" button in the navigation bar.</p>
		<p>The Table below show the current Secret Santa matches. If you would like to renew this list please click refresh.</p>
</div>

<div class="member-list">
		<h3>List of current participants</h3>
		<ul>
				<% @members.each do |member| %>
					<%= link_to member do %>
							<li><%= member.name %></li>
					<% end %>
				<% end %>
		</ul>
</div>

<div class="secret-santa-table">
		<h3>Secret Santa List</h3>
		<div class="button-box">
				<%= link_to "Refresh", root_path, class: "btn btn-default" %>
		</div>
		<div>
				<table class="table table-bordered table-striped">
						<thead>
								<tr>
										<th>Member Name</th>
										<th>Secret Santa Pick</th>
								</tr>
						</thead>
						<tbody>
								<% @assignees.each do |assignee| %>
										<tr>
												<td><%= assignee[0].name %></td>
												<td><%= assignee[1] %></td>
										</tr>
								<% end %>
						</tbody>
				</table>
		</div>
</div>
